li{
    float: left;
    list-style-type: none;.
    
}
li a{
    padding: 24px;
    font-size: 18px;
}
nav{
    float: right;
}
body{
    margin: 5% 5% 5% 5% ;
}
#header{
    overflow: hidden;
}
h1{
    padding: 16px;
}
.div_box{
    background-color: #d3d3d367;
    padding: 2%;
}
.width_33{
    width: 33%;
}
#paraHt{
    line-height: 1.5;
}
#learn_more_btn{
    padding: 5px;
}
.card{
    float: left;
    width: 25%;
    display: flex;
    margin: 30px;
    display: block;
    text-align: center;
    line-height: 1.4;
}
#content{
    margin: auto;
}

.inner_card{
    background-color: #d3d3d367;
    padding: 27% 36%;;
}
.flex_box{
    display: flex;
    place-content: center;
}
.a_font{
    color: black;
}
#footer{
    text-align: center;
    background-color: #d3d3d367;
    padding: 40px;
}
.float_left{
    float: left;
}
.float_right{
    float: right;
}
#SubmitBtn{
    color: white;
    padding: 14px 70px;
    background-color: dodgerblue;
    text-decoration: NONE;
    margin-left: 15px;
    font-weight: 800;
    font-size: 18px;
}
.subs{
    padding: 15px;
    font-size: 30px;
    font-weight: 800;
}
input{
    font-size: 16px;
    height: 44px;
    width: 30%;
}
.copyright{
    padding: 35px;
}

@media screen and (max-width: 800px) {
    .flex_box, #header, #footer {
        flex-direction: column;   
        place-items: center;
    }
   
}